.env
venv/
.venv/
JSONS/
old/
ignore/
build/
dist/
BioNews_Debug.spec
BioNews.spec
__pycache__/
instruccionesGemini.md
flet042026.md
pw-browser/
logs/
BioNews_Installer.iss
BioNews.spec
instalador.iss
